# Things that do not belong in any build of SPBM
# - they're not relevant in a container
scripts/

# Ignore build cache
__pycache__
*.pyc

# Ignore all hidden files
.*

# Ignore site files created/uploaded 
static_files/*
media_files/*
static_invoice/*

# Ignore all and any compiled translations
*.mo

# Ignore swapfiles from vi(m)
*.swp
*.swo

# Ignore any and all sqlite3 databases
*.sqlite3

# Ignore the local settings for the app(s)
local_settings.py
