# Main framework
Django==2.0.6
django-debug-toolbar==1.9.1

# PostgreSQL-connector, not required for development
psycopg2==2.7.3.2

# Jinja2 improved translation tags & i18n
django-jinja==2.4.1
jinja2==2.10
puente==0.5
markupsafe==1.0
pytz==2017.3

## Other various Django packages
# Localisation and handling local input
django-localflavor==2.0
# Widget tweaks to avoid editing forms in code
django-widget-tweaks==1.4.1
# Extra class-based generic views
django-extra-views==0.9.0

# Execution for the moment
uwsgi==2.0.15

## Other external dependencies
# PDF-generation
reportlab==3.4.0
# Sane relative dates
python-dateutil==2.7.3

