# Main framework
Django<1.10
django-jinja==2.2.1

# Data
psycopg2==2.6.2

# Jinja2 improved translation tags & i18n
puente==0.4.1
markupsafe==0.23
pytz==2016.10
# PDF-generation
reportlab==3.3.0
# Localisation and handling local input
django-localflavor==1.3
# Widget tweaks to avoid editing forms in code
django-widget-tweaks==1.4.1

# Execution for the moment
uwsgi==2.0.13.1
