{% set navigation = [('Society', 'society'), ('Workers', 'workers'), ('Events', 'events'), ('Invoices', 'invoices')] %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SPF</title>
		<link href="{{ static("css/bootstrap.min.css") }}" rel="stylesheet">
		<link href="{{ static("css/bootstrap-theme.min.css") }}" rel="stylesheet">
	</head>

	<body role="document">
		{% block content %}
		Content here!
		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{{ static("js/bootstrap.min.js") }}"></script>
	</body>
</html>
