{% extends "base-barebones.jinja" %}

{% block title -%}
    {{ _("Sign in") }}
{%- endblock %}

{% block content %}
    <div class="container">
        <div id="login" style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ _("Sign in") }}</div>
                </div>

                <div style="padding-top:20px" class="panel-body">
                    {% if form.errors -%}
                        <p class="alert alert-danger">
                            <strong>{{ _("Login failed!") }}</strong> {{ _("Your username or password didn't match. Please try again.") }}
                        </p>
                    {%- elif next %}
                        <p class="alert alert-warning">
                            {% if user.is_authenticated %}
                                {% trans %}Your account doesn't have access to this page. To
                                    proceed, please login with an account that has access.{% endtrans %}
                            {% else %}
                                {% trans %}You must be logged in to view this page. Please login below.{% endtrans %}
                            {% endif %}
                        </p>
                    {%- endif %}

                    <form id="loginform" method="POST" action="" class="form-horizontal" role="form">
                        {% csrf_token %}

                        {{ form.username.label_tag() }}
                        <div class="input-group {% if form.errors %}has-error{% endif %}" style="margin-bottom: 20px;">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            {# Translators: don't translate placeholder #}
                            {{ form.username | attr("class:form-control") | attr(_("placeholder:username")) }}
                        </div>

                        {{ form.password.label_tag() }}
                        <div class="input-group {% if form.errors %}has-error{% endif %}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            {# Translators: don't translate placeholder #}
                            {{ form.password | attr("class:form-control") | attr(_("placeholder:password")) }}
                        </div>

                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1">
                                    {{ _("Remember my login on this computer") }}
                                </label>
                            </div>
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls">
                                <button type="submit" id="btn-login" href="#" class="btn btn-success">
                                    {{ _("Sign in to SPF") }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
