/*
 * Custom changes & adaptations for the magic that is the SPMB.
 */

body {
   /* due to fixed navbar */
   padding-top: 70px;
}

/*
Lazily for use with glyphicons, or equivalent, to have in a cute little panel.
 */
.status {
    font-size: 5em;
}

.status.pull-right, .pull-right .status {
    margin-left: 10px;
}

.status.pull-left, .pull-left .status {
    margin-right: 10px;
}

/*
Table paddings for wide-spanning row headers
 */
.table-group {
    background-color: #f9f9f9;
}

.invoice-details {
    text-align: center;
}

.invoice-details > li {
    margin: 0 10px;
}

.table-sum {
    border-top: 1px solid #333;
    border-bottom: 2px solid #333;
}

.table .table-sum > td {
    padding-top: 1em;
}

/*
Vertical spacing when stacking forms
 */
.form-stack.form-group [class*="col-"] + [class*="col-"] {
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .form-stack.form-group [class*="col-lg-"] + [class*="col-lg-"] {
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .form-stack.form-group [class*="col-md-"] + [class*="col-md-"] {
        margin-bottom: 0;
    }
}
