/*
 * Custom changes & adaptations for the magic that is the SPMB.
 */
html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* due to fixed navbar */
    padding-top: 70px;
    /* see footer */
    position: relative;
    min-height: 100%;
    padding-bottom: 12rem;
}

body > .container {
    min-height: 100%;
}

body > footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /* see body padding */
    padding: 1rem;
    height: 9rem;
    width: 100%;
    opacity: 0.8;
    background-color: #f3f3f3;
}

/*
Lazily for use with glyphicons, or equivalent, to have in a cute little panel.
 */
.status {
    font-size: 5em;
}

.status.pull-right, .pull-right .status {
    margin-left: 10px;
}

.status.pull-left, .pull-left .status {
    margin-right: 10px;
}

/*
Table paddings for wide-spanning row headers
 */
.table-group {
    background-color: #f9f9f9;
}

.invoice-details {
    text-align: center;
}

.invoice-details > li {
    margin: 0 10px;
}

.table-sum {
    border-top: 1px solid #333;
    border-bottom: 2px solid #333;
}

.table .table-sum > td {
    padding-top: 1em;
}

/*
Vertical divider for navbar
 */
.navbar .divider-vertical {
    height: 40px;
    margin: 5px 5px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #444444;
    border-left-color: #333333;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

/*
Vertical spacing when stacking forms
 */
.form-stack.form-group [class*="col-"] + [class*="col-"] {
    margin-bottom: 10px;
}

@media (min-width: 1200px) {
    .form-stack.form-group [class*="col-lg-"] + [class*="col-lg-"] {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .form-stack.form-group [class*="col-md-"] + [class*="col-md-"] {
        margin-bottom: 0;
    }
}

/*
Dashboard/KPI panel
 */
.dash-indicator {
    height: 5rem;
    font-size: 6rem;
    line-height: 5rem;
    display: block;
    margin: 2rem 0 1rem;
}

.dash-block.alert {
    background-color: transparent !important;
    border: none !important;
    padding: 1rem;
}

