{% extends "base.jinja" %}
{% block title -%}
    {{ _("Invoice management") }}
{%- endblock %}

{% block content %}
    {% if unprocessed_events %}
        <div class="panel panel-primary">
            <h2 class="panel-heading panel-title">
                {{ ngettext('%(num)d unprocessed event', '%(num)d unprocessed events', unprocessed_events) }}
            </h2>
            <form class="panel-body" method="POST" action="">
                <p>{% trans -%}
                    There are unprocessed events, which means you can close the period.
                    Only close the period <strong>once a month</strong>, and do it at the date agreed upon.
                {%- endtrans %}</p>
                {% csrf_token %}
                <input type='hidden' name='action' value='close_period'/>
                <button class="btn btn-lg btn-danger" type='submit'>
                    {{ _("Close period") }}
                </button>
            </form>
        </div>
    {%- else -%}
        <div class="panel panel-info panel-body">{% trans -%}
            There aren't any unprocessed events available for you to close the period with. Register some events
            <em>or</em> wait until next month.
        {%- endtrans %}</div>
    {% endif %}
    <div>
        <h2>{{ _("Unpaid invoices") }}</h2>
        {% if invoices -%}
            <p>
                {% trans %}
                    The following invoices have yet to be paid, and will affect the next payroll thusly.
                {% endtrans %}
            </p>
            <div class="list-group">
                {% for invoice in unpaid_invoices %}
                    <div class="list-group-item clearfix">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <input type='hidden' name='action' value='mark_paid'/>
                            <input type='hidden' name='inv_id' value='{{ invoice.id }}'/>
                            <button class="btn pull-right btn-primary" type='submit'>
                                <span class="glyphicon glyphicon-ok big"></span>
                                {{ _("Mark as paid") }}
                            </button>
                        </form>
                        <strong>{{ invoice.society.name }}</strong> <br/>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="sr-only">{{ _("Date") }}:</span>
                        {{ invoice.period | localize }}
                        <span class="glyphicon glyphicon-transfer" style="margin-left: 10px;"></span>
                        <span class="sr-only">{{ _("Amount") }}:</span>
                        {{ _("NOK %(cost)s", cost=invoice.get_total_cost()|intcomma) }}
                    </div>
                {% endfor %}
            </div>
        {%- else -%}
            <div class="panel panel-success">
                {{ _("There aren't any unpaid invoices! That's great!") }}
            </div>
        {%- endif -%}
    </div>
    <section>
        <h2>{{ _("Complete Invoice Overview") }}</h2>
        <p>
            {% trans %}
            The table underneath gives you a complete image of the various invoices that <em>should have</em>
            been sent to the respective societies.
            {% endtrans %}
        </p>
        <table class="table table-striped">
            <tr>
                <th>{{ _("Invoice no.") }}</th>
                <th>{{ _("Society - period") }}</th>
                <th>{{ _("Amount") }}</th>
                <th>{{ _("Paid?") }}</th>
            </tr>
            {% for invoice in all_invoices %}
                <tr>
                    <td>{{ invoice.invoice_number }}</td>
                    <td>
                        <a href="/invoices/{{ invoice.society.shortname }}/{{ invoice.period }}.pdf">{{ invoice.society.shortname }}
                            - {{ invoice.period }}</a></td>
                    <td>{{ _('NOK %(cost)s', cost=proc.get_total_cost() | localize) }}</td>
                    <td>
                        {%- if invoice.paid -%}
                            <span class="glyphicon glyphicon-ok"></span> {{ _("Yes") }}
                        {%- else -%}
                            <span class="glyphicon glyphicon-warning-sign"></span> {{ _("No") }}
                        {%- endif -%}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
