{% extends "base.jinja" %}

{% block title -%}
    {{ _("Society invoices") }}
{%- endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>{{ _('Period date') }}</th>
            <th>{{ _('Amount') }}</th>
            <th>{{ _('Paid?') }}</th>
        </tr>
        {% for proc in invoices %}
            <tr>
                <td><a href="{{ proc.period }}.pdf">{{ proc.period }}</a></td>
                <td>{{ _('NOK %(cost)s', cost=proc.get_total_cost() | localize) }}</td>
                <td>
                    {%- if proc.paid -%}
                        <span class="glyphicon glyphicon-ok"></span> {{ _("Yes") }}
                    {%- else -%}
                        <span class="glyphicon glyphicon-warning-sign"></span> {{ _("No") }}
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
