{% extends "base.jinja" %}

{% block title -%}
    {{ _("Invoice list") }}
{%- endblock %}

{% block content %}
    <div>
        <table class="table table-striped">
            <tr>
                <th>{{ _("Invoice no.") }}</th>
                <th>{{ _("Society - period") }}</th>
                <th>{{ _("Amount") }}</th>
                <th>{{ _("Paid?") }}</th>
            </tr>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.invoice_number }}</td>
                    <td>
                        <a href="/invoices/{{ invoice.society.shortname }}/{{ invoice.period }}.pdf">{{ invoice.society.shortname }}
                            - {{ invoice.period }}</a></td>
                    <td>{{ invoice.get_total_cost() }}</td>
                    <td>{{ invoice.paid }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
