{% extends "base.jinja" %}
{% block title %}Edit worker{% endblock %}
{% block content %}
    <style>
        .new {
            padding: 10px;
        }
    </style>
    <form action="" method="POST">
        {% csrf_token %}
        <table class="table">
            {{ form }}
        </table>

        <button class="btn btn-primary" type="submit">
            Save worker
        </button>
        <a href="{{ url("workers") }}" title="Cancel editing worker" class="btn btn-warning">
            Cancel editing
        </a>
    </form>
{% endblock %}
