{% extends "base.jinja" %}
{% set title = _('Edit worker') %}

{% block content %}
    <style>
        .new {
            padding: 10px;
        }
    </style>
    <form class="form-horizontal" action="" method="POST">
        {% csrf_token %}
        {% include 'form-loop.jinja' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit">
                    {{ _('Save changes') }}
                </button>
                <a href="{{ url("workers") }}" title="{{ _('Cancel editing this worker') }}" class="btn btn-warning">
                    {{ _('Cancel editing & changes') }}
                </a>
            </div>
        </div>
    </form>
{% endblock %}
