{% extends "base.jinja" %}

{% block content %}
<style>
.new
{
	padding: 10px;
}
</style>
<h1>Add new worker</h1>
<form action="{{ add_url }}" method="POST">
{% csrf_token %}
<table>
{{ form.as_table() }}
</table>
<!--
<table style="td { padding: 5px; }">
<tr><td class="new">Name:</td><td> <input type="text" name="name" /></td>
<td class="new">Address: </td><td><input type="text" name="address" /></td></tr>
<tr><td class="new">Account no.:</td><td><input type="number" name="accno" /></td>
<td class="new">Person ID: <td><input type="number" name="personid" /></td></tr>
<tr><td class="new">Norlønn no.:</td><td><input type="number" name="norlonn" /></tr></tr>
</table>-->
<input type="submit" value="Save" />
</form>
<h1>List of workers</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Navn</th><th>Addresse</th><th>Kontonr</th><th>Personnummer</th><th>Norlønn</th>
		</tr>
	</thead>
	<tbody>
	{% for worker in workers %}
		<tr>
			<th><a href="edit/{{ worker.id }}">{{ worker.name }}</a></th>
			<th>{{ worker.address }}</th>
			<th>{{ worker.account_no }}</th>
			<th>{{ worker.person_id }}</th>
			<th>{{ worker.norlonn_number }}</th>
		</tr>
	{% endfor %}	
	</tbody>
</table>
<h1>List of inactive workers</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Navn</th><th>Addresse</th><th>Kontonr</th><th>Personnummer</th><th>Norlønn</th>
		</tr>
	</thead>
	<tbody>
	{% for worker in old_workers %}
		<tr>
			<th><a href="edit/{{ worker.id }}">{{ worker.name }}</a></th>
			<th>{{ worker.address }}</th>
			<th>{{ worker.account_no }}</th>
			<th>{{ worker.person_id }}</th>
			<th>{{ worker.norlonn_number }}</th>
		</tr>
	{% endfor %}	
	</tbody>
</table>
{% endblock %}
