{% extends "base.jinja" %}

{% block title -%}
    {{ _("Workers") }}
{%- endblock %}

{% block content %}
    <style>
        .new {
            padding: 10px;
        }
    </style>
    <h2>{{ _("Add new worker") }}</h2>
    {% set action_label = _("Add user") %}
    {% include "form.jinja" %}
    <h2>{{ _("List of workers") }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Address") }}</th>
            <th>{{ _("Account No.") }}</th>
            <th>{{ _("National ID") }}</th>
            <th>Norlønn</th>
        </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <th><a href="edit/{{ worker.id }}">{{ worker.name }}</a></th>
                <th>{{ worker.address }}</th>
                <th>{{ worker.account_no }}</th>
                <th>{% if worker.person_id %} Yes {% else %} No {% endif %}</th>
                <th>{{ worker.norlonn_number }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>{{ _("List of inactive workers") }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Address") }}</th>
            <th>{{ _("Account No.") }}</th>
            <th>{{ _("National ID") }}</th>
            <th>Norlønn</th>
        </tr>
        </thead>
        <tbody>
        {% for worker in old_workers %}
            <tr>
                <th><a href="edit/{{ worker.id }}">{{ worker.name }}</a></th>
                <th>{{ worker.address }}</th>
                <th>{{ worker.account_no }}</th>
                <th>{{ worker.person_id }}</th>
                <th>{{ worker.norlonn_number }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
