<!DOCTYPE html>
<html lang="{{ get_language() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if title -%}
            {{ title | striptags }}
            {%- if title_small -%}
                - {{ title_small | striptags }}
            {%- endif %} ·
        {%- endif %} SPFs ❝SPBM❞
    </title>
    <link href="{{ static("css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static("css/jquery-ui.min.css") }}" rel="stylesheet">
    <link href="{{ static("css/spbm.css") }}" rel="stylesheet">
</head>
<body role="document">
{# Include the navigation! #}
{%- include 'base-navigation.jinja' %}
<div class="container">
    {% if title -%}
        <div class="page-header">
            {% if self.toolbar() -%}
                <div class="btn-group pull-right" role="group">
                    {% block toolbar %}{% endblock %}
                </div>
            {%- endif %}
            <h1>{{ title }}
                {%- if title_small %}
                    <small>{{ title_small | striptags }}</small>
                {% endif -%}
            </h1>
        </div>
    {%- endif %}
    {% if messages -%}
        <ul class="messages list-unstyled" role="alert">
            {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message | safe }}</li>
            {% endfor %}
        </ul>
    {%- endif %}

    {%- block content %}
        <div class="alert alert-info">
            {% trans trimmed %}
                <strong>Empty page!</strong> Please contact the mailing list, as this page is incorrectly empty.
            {% endtrans %}
        </div>
    {% endblock -%}

</div>
<footer>
    <div class="container">
        <p>
            <a href="https://github.com/SPF-UiO/spbm" title="{{ _("Go to our source code repository") }}">
                GitHub</a>
            ·
            <a href="https://confluence.cyb.no/display/SPF/Kontaktpunkt"
               title="{{ _("Go to our public contact page") }}">
                {{ _("Knowledge base") }}</a>
            ·
            <a href="mailto:spf-styret@studorg.uio.no" title="E-mail the board for wage issues and similarly">
                {{ _("Board mailing list") }}</a>
        </p>
        <p>
            Studentkjellernes personalforening. <br/>
            {% trans trimmed %}
                For technical issues, limitations, feedback or other suggestions, please go to our issue tracker. For
                wage,
                worker or invoicing related issues, please contact the mailing list.
            {% endtrans %}
        </p>
    </div>
</footer>
{# Load various libraries and similarly. #}
<script src="{{ static("js/jquery-3.1.1.min.js") }}"></script>
<script src="{{ static("js/bootstrap.min.js") }}"></script>
<script src="{{ static("js/modern.js") }}"></script>
<script>
    Modernizr.load({
        test: Modernizr.inputtypes.date,
        nope: "/static/js/jquery-ui.min.js",
        callback: function () {
            $("input[type=date]").datepicker({dateFormat: 'yy-mm-dd'});
        }
    });
</script>
</body>
</html>
