<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false">
                <span class="sr-only">{{ _("Toggle navigation") }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-header navbar-brand">SPFs &quot;SPBM&quot;</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" role="navigation">
                <li{{ active('^/$', attribute=True) }}>
                    <a href="{{ url('overview') }}" class="navbar-link" role="button">
                        {{ _("Overview") }}
                    </a>
                </li>
                <li class="dropdown{{ active('workers', 'events') }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ _("Bookings") }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">{{ _("Workers and registrations") }}</li>
                        <li><a href="{{ url('workers') }}">{{ _("Workers") }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">{{ _("Events and registrations") }}</li>
                        <li><a href="{{ url('events') }}">{{ _("Events") }}</a></li>
                    </ul>
                </li>
                <li{{ active('invoices', attribute=True) }}>
                    <a href="{{ url('invoices') }}" class="navbar-link" role="button">
                        {{ _("Invoicing") }}
                    </a>
                </li>
                <li{{ active('wages', attribute=True) }}>
                    <a href="{{ url('wages') }}" class="navbar-link" role="button">
                        {{ _("Wages") }}
                    </a>
                </li>
            </ul>
            {% if user.is_staff -%}
                <ul class="nav navbar-nav navbar-right" role="navigation">
                    <li>
                        <a href="{{ url('admin:index') }}">
                            <span class="hidden-sm">{{ _("Administration") }} </span><i
                                class="glyphicon glyphicon-cog"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('logout') }}" class="navbar-link" title="{{ _("Log out of SPFs SPBM") }}">
                            <span class="hidden-sm">{{ _("Logout") }} </span><i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    </li>
                </ul>
            {%- endif %}
            <p class="navbar-text navbar-right">
                <small>{{ user.spfuser.society.shortname }}</small>
                {{ user }}
            </p>
        </div>
    </div>
</nav>
