{% if form.non_field_errors() %}
    {% for error in form.non_field_errors() %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    <div class="has-error">
{% else %}
    <div>
{% endif %}
{% for field in form %}
    {% if not field.errors and not field.is_hidden %}
        <div class="form-group">
            <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field | attr("class:form-control") }}
                {% if field.help_text %}
                    <p class="help-block">
                        <small>{{ field.help_text | safe }}</small>
                    </p>
                {% endif %}
            </div>
        </div>
    {% elif field.errors %}
        <div class="form-group has-error">
            <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field | attr("class:form-control") }}
                <span class="help-block">
                    {% for error in field.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
    {% elif field.is_hidden %}
        {{ field }}
    {% endif %}
{% endfor %}
</div>
