{% extends "base.jinja" %}

{% block content %}
<h1 class="page-header">Norlonn reports</h1>

{% if errors %}
<div class="panel panel-warning">
    <h3 class="panel-heading panel-title">Current report errors</h3>
    <div class="panel-body">
        <p>There are some errors present. Please fix the errors before you attempt generating a report,
        as to avoid workers missing out on their wages. If the errors are associated with a
        different society than yours, get in touch with them over the mailing list.</p>
        <ul>
        {% for error in errors %}
            <li class="list-item-group-error">{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if user.has_perm('norlonn.generate_report') %}
<p>
    <form action="/norlonn/generate_report/" method="post">
{% csrf_token %}
<button class="btn 
    {%- if errors %} btn-warning 
    {%- else -%} btn-primary {%- endif -%}" 
    type="submit">
        Generate new report<br/>
        <span style="font-size: 0.8em;font-style:italic;">Not easily reversible!</span>
    </button>
    </form>
</p>
{% endif %}

<h2>Existing reports</h2>
<div class="alert alert-info">
    <p>
        The following is a list of the various payment reports that have been created in the past.
        They detail the amount of money and payments for each worker, and should only <strong>be
            imported once</strong> into Norlønn.
    </p>
</div>

<ul>
{% for report in reports %}
<li>
{% if user.has_perm('norlonn.view_report') %}
<a href="/norlonn/get_report/{{ report.date }}">{{ report.date }}</a>
{% else %}
{{ report.date }}
{% endif %}
</li>
{% endfor %}
</ul>
</p>
{% endblock %}
