{% extends "base.jinja" %}

{% block title -%}
    {{ _("Report result") }}
{%- endblock %}

{% block content %}
    {% if errors %}
        <h3>{{ _("Elements with errors") }}</h3>
        <ul>
            {% for item in errors %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if success %}
        <h3>{{ _("Successful elements") }}</h3>
        <ul>
            {% for item in success %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
