{% extends "events/form.jinja" %}
{% set title = _("Add event") %}

{% block buttons %}
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                {{ _('Create event') }}
            </button>
            <a href="{{ url("events") }}" title="{{ _('Cancel creating this event') }}" class="btn btn-warning">
                {{ _('Cancel creating this event') }}
            </a>
        </div>
{% endblock buttons %}
