{% extends "base.jinja" %}

{% block title %}
    {{ _("Confirm deletion of event") }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {%- csrf_token %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title">
                    {{ _("Confirm deletion") }}
                </h2>
            </div>
            <div class="panel-body">
                <p>{{ _("Are you sure that you wish to delete the event %(event)s?", event=object) }}</p>
                <div class="">
                    <a href="{{ url('events') }}" class="btn btn-success">
                        {{ _("Cancel deleting and take me back") }}
                    </a>
                    <input class="btn btn-danger" type="submit" value="{{ _("Delete the event") }}"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}