{% extends "base.jinja" %}
{% set title = _("Events") %}

{% from 'utils.jinja' import table_of_shifts %}

{% block toolbar %}
    <a class="btn btn-success {%- if not user.has_perm('society.add_event') %} disabled {%- endif %}"
       href="{{ url('event-add') }}">
        <span class="glyphicon glyphicon-asterisk"></span> {{ _("Add new event") }}
    </a>
{% endblock %}

{% block content -%}

    {%- for processed, events in events %}
        <h2>
            {%- if processed is none -%}
                {{ _("Not processed yet") }}
            {%- else -%}
                {{ _('Processed on %(date)s', date=processed | localize) }}
            {%- endif -%}
        </h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-2">{{ _("Date") }}</th>
                <th class="col-md-3">{{ _("Event") }}</th>
                <th class="col-md-1">{{ _("Total hours") }}</th>
                <th class="col-md-2">{{ _("Total cost") }}</th>
                <th class="col-md-2 col-lg-3">{{ _("Workers") }}</th>
                <th class="col-sm-2 col-md-1 col-lg-1"></th>
            </tr>
            </thead>
            <tbody>
            {%- for event in events %}
                <tr>
                    <td>{{ event.date | localize }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ _('%(hours)sh', hours=event.hours | intcomma) }}</td>
                    <td>{{ _('NOK %(cost)s', cost=event.cost | intcomma) }}</td>
                    <td>
                            {# {{ table_of_shifts(event.shifts.all()) }} #}
                            {%- for shift in event.shifts.all() -%}
                                {{ shift.worker.name }}
                                {%- if not loop.last %}, {% endif -%}
                            {%- endfor %}
                    </td>
                    <td class="col-md-1">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ url('event-view', event.id) }}"
                               title="{{ _("View the details of the event") }}" class="btn btn-info">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span class="sr-only">{{ _("View event") }}</span>
                            </a>
                            {% if user.has_perm('society.change_event') and event.processed is none -%}
                                <a href="{{ url('event-edit', event.id) }}"
                                   title="{{ _("Edit the event, such as date, workers, and more") }}"
                                   class="btn btn-warning">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    <span class="sr-only">{{ _("Edit event") }}</span>
                                </a>
                            {%- endif %}
                        </div>
                    </td>
                </tr>
                </a>
            {%- endfor %}
            </tbody>
        </table>
    {%- endfor %}
{% endblock %}
