{% extends "base.jinja" %}

{% block content %}
<h3><a href="add/">Add new</a></h3>
{% for proc in processed %}
<p style="font-size: 150%; padding-top: 10pt;">
<strong>
{% if proc['processed'] is none %}
	Not processed yet
{% else %}
	Processed on {{ proc['processed'] }}
{% endif %}
</strong>
</p>
{% for event in events[proc['processed']] %}
<div class="event" style="padding-top: 10px">
<table class="table table-striped">
<thead><tr><th>Event</th><th>Navn</th><th>Sats</th><th>Timer</th><th>Sum</th></thead>
<tbody>
{% for shift in event.shift_set.all() %}
<tr><td>{% if loop.first %}{{event.date}}: {{event.name}}{% endif %}</td><td>{{ shift.worker.name }}</td><td>{{ shift.wage }}</td><td>{{ shift.hours }}</td><td>{{ shift.get_total() }}</td></tr>
{% endfor %}
</tbody>
</table>
Total: {{ event.get_cost() }}
</div>
{% endfor %}
{% endfor %}
{% endblock %}
