{% extends "base.jinja" %}

{% block title -%}
    {{ _("Events") }}
{%- endblock %}

{% block content %}
    <a class="btn btn-success btn-lg" href="add/">{{ _("Add new event") }}</a>
    {% for proc in processed %}
        <p style="font-size: 150%; padding-top: 10pt;">
            <strong>
                {% if proc['processed'] is none %}
                    {{ _("Not processed yet") }}
                {% else %}
                    {{ _('Processed on %(date)s', date=proc['processed']) }}
                {% endif %}
            </strong>
        </p>
        {% for event in events[proc['processed']] %}
            <div class="event" style="padding-top: 10px">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 20%;">{{ _("Event") }}</th>
                        <th style="width: 20%;">{{ _("Name") }}</th>
                        <th style="width: 10%">{{ _("Hourly") }}</th>
                        <th style="width: 10%">{{ _("Hours") }}</th>
                        <th style="width: 10%">{{ _("Sum") }}</th>
                    </thead>
                    <tbody>
                    {% for shift in event.shifts.all() %}
                        <tr>
                            <td>{% if loop.first %}{{ event.date }}: {{ event.name }}{% endif %}</td>
                            <td>{{ shift.worker.name }}</td>
                            <td>{{ shift.wage }}</td>
                            <td>{{ shift.hours }}</td>
                            <td>{{ _('NOK %(cost)s', cost=shift.get_total() | intcomma) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ _('Total') }}: {{ _('NOK %(cost)s', cost=event.get_cost() | intcomma) }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
